# Entornos virtuales
venv/
.env/
data/


# Archivos de Python
__pycache__/
*.py[cod]
*.pyo

# Migraciones
migrations/

# Archivos de IDEs
.vscode/


# Otros
*.tmp

# Carpeta de migraciones
migrations/