# Entornos virtuales
venv/
.env/
data/


# Archivos de Python
__pycache__/
*.py[cod]
*.pyo

# Migraciones
migrations/

# Archivos de IDEs
.vscode/

# Frontend
package-lock.json
package.json
node_modules/

# Otros
*.tmp

# Carpeta de migraciones
migrations/